@charset "UTF-8";
/* 
	IFRAME CSS
	1/21/13: SRW created

	TABLE OF CONTENTS
	
	@FONT-FACES

	GLOBAL & ELEMENTS - elements pulled over from the global file.
	IFRAMECONTAINER
	IFRAMECONTENT
	
	FORMS

	MENU: the top left blue menu.
	JQUERY UI STYLES - styles for the datepicker, tabs, and tooltips
	FONT AWESOME - Font Awesome setup for icons.
	
	------------------------------------------
	
	COLOR PALETTE
	004e87 - dark ocean blue (link)
	42bfe7 - shallow water blue (h2)
	
	Gradiant
	3bd3e3 - highight (light)
	0ea0dc - shadow (dark)

*/

/*------------------------------------*\
    @FONT-FACES:
	At the top for easy update.
\*------------------------------------*/

/**  Font Awesome 3.0.2 **/
@font-face{
  font-family:'FontAwesome';
	src: url('../font/fontawesome-webfont.eot'),
	src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/fontawesome-webfont.woff') format('woff'),
		url('../font/fontawesome-webfont.ttff')  format('truetype'),
		url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
	src: url('../font/fontawesome-webfont.eot?v=3.0.1');
	src: url('../font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
		url('../font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
		url('../font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight:normal;
  font-style:normal }
  
  @font-face {
    font-family: 'RokkittRegular';
    src: url('../font/Rokkitt-webfont.eot');
    src: url('../font/Rokkitt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Rokkitt-webfont.woff') format('woff'),
         url('../font/Rokkitt-webfont.ttf') format('truetype'),
         url('../font/Rokkitt-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6, .home-insurance-cta span,
.searchResults, .LFTContentWrapper header h1,
.main_content.cf .RGTmainContentWrapper .headingWrapper h1   {
	font-family:  'Rokkitt', 'RokkittRegular', 'Arial Narrow';
}
  
/*------------------------------------*\
    GLOBAL & ELEMENTS:
	Items pulled from the global styles
	and base elements.
\*------------------------------------*/
a {
	color: #004e87; /* dark ocean blue */
	font-weight: bold;
	outline: 0;
	text-decoration: none; }

a:hover { text-decoration: underline; }
body { font: 16px/19px Arial, Helvetica, sans-serif; }
fieldset { border: none; }
h1, h2, h3, p {
	padding: 0;
	margin: 0; }
h1, h2, h3, h4, h5, h6 { font-family: 'Rokkitt',  'Arial Narrow', serif }
hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
p { padding-right: 15px; }
strong { color: #009bda; }
table {
	font-size: 12px;	
	width: 100%; }
	
/*------------------------------------*\
    IFRAMECONTAINER:
	The main container.
\*------------------------------------*/

#iframeContainer { /* Container for all iframe content. Used to set CSS just for the containing content. */
	color: #817f7f;
	width: 640px; }

#iframeContainer header h1  {
	font: 400 26px/52px 'Rokkitt', 'RokkittRegular', 'Arial Narrow', serif;
	padding: 0 0 0 20px;
	margin: 0 0 0 5px;
	color: #FFF; }

/*------------------------------------*\
    IFRAMECONTENT:
	Main content of the iframe,
	does not include the header
\*------------------------------------*/

#iframeContent {
	background-color: #FFF;
	min-height: 300px;
	padding-top: 10px;
	position: relative;
	top: -5px; }

/*------------------------------------*\
    FORMS:
\*------------------------------------*/

div.form { margin-top: 45px; }

#iframeContent input[type="text"],
#iframeContent input[type="password"],
#iframeContent input[type="email"] { /* see ie-frame for CSS3 Pie */
	border-color: #CCC;
	border-width: 1px;
	border-radius: 5px;
	height: 20px;
	margin-right: 5px;
	padding-left: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; }
#iframeContent input[type="radio"] { margin-left: 5px; }
#iframeContent .checkbox input[type="radio"], td.checkbox {
	margin: 0;
	padding: 0; }
#iframeContent label { 
	line-height: 12pt; }
#iframeContent label,span.label {
	display: inline-block;
	margin: 10px 0;
	min-width: 75px;
	padding-right: 10px;
	text-align: right; }
span.label { margin: 3px 0; }
#iframeContent p.style2 label {
	width: 125px; }

form.styled hr { margin-right: 15px; }
form.styled textarea {
	margin: 10px 0 0 0;
	padding: 0; }
form.styled table { position: relative; left: -15px; }
#iframeContainer form.styled h1, #iframeContainer form.styled h2, #iframeContainer form.styled h3,
#iframeContainer form.styled h4, #iframeContainer form.styled h5, #iframeContainer form.styled h6 { margin-left: 0px; }
sup.required { color: #F00; font-size: 11px; }
		
/*  Various label sizes. 
	************************************************/
	#iframeContent label.xsmall, #iframeContent input.xsmall,
	#iframeContent textarea.xsmall, #iframeContent span.label.xsmall {
		width: 25px; }
	#iframeContent label.small,#iframeContent input.small,
	#iframeContent textarea.small, #iframeContent span.label.small {
		width: 50px; }
	#iframeContent label.medium, #iframeContent input.medium,
	#iframeContent textarea.medium, #iframeContent span.label.medium{
		width: 150px; }
	#iframeContent input.medium.date { width: 75px; }
	#iframeContent label.large, #iframeContent input.large,
	#iframeContent span.label.large { width: 250px; }
	#iframeContent label.xlarge, #iframeContent input.xlarge,
	#iframeContent span.label.xlarge {
		width: 350px; }
	#iframeContent label.xxlarge, #iframeContent input.xxlarge,
	#iframeContent span.label.xxlarge {
		width: 450px; }
	#iframeContent textarea.large { width: 200px; }
	#iframeContent textarea.xlarge { width: 250px; }
	#iframeContent textarea.xxlarge { width: 300px; }
	#iframeContent textarea.xxlarge { margin-left: 0; }
	#iframeContent textarea { /* see ie-frame for CSS3 Pie */
		border-color: #CCC;
		border-radius: 5px;
		border-width: 1px;
		height: 75px;
		margin-left: 15px;
		width: 90%;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px; 	}

/*  Classes for helper text that appears below inputs. 
	************************************************/
	span.form-helper { display: block; color: #D4D4D4; font-size: 12px; }
	span.form-helper.medium { margin-left: 162px; }
	span.form-helper.large { padding-left:262px; }
	span.form-helper span.spacer-yn { display: inline-block; width: 70px; }
	span.form-helper span.spacer-textarea { display: inline-block; width: 70px; }

/*------------------------------------*\
    CLEARFIX:
    Used to clear elements and give
    proper spacing when necessary.
\*------------------------------------*/
.clearfix {clear: both; }
hr.clearfix { padding: 5px 0; }
div.clearfix.padded {padding-bottom: 15px;}
p.clearfix.padded {padding-top: 15px;}
.button.right.clearfix { margin-bottom: 25px; }
.button.right { margin-bottom: 25px; min-height: 30px; padding-bottom: 0;}


/* FORM STYLES MISC: used to move misc form elements into position as designed. */
.states { width: 210px;}
#iframeContainer p.characters { margin-left: 360px; font-style: italic; }
#iframeContainer p.radio { line-height: 2em; margin-left: 27px;}
#iframeContainer p.select { line-height: 2em; margin-left: 37px;}
#iframeContainer p.indent { margin-left: 50px;}

/* FONTS & SIZES */
#iframeContainer header h1, #iframeContainer h1,
#iframeContainer h2, #iframeContainer h3 { font-size: 16px; }
.bold { font-weight: bold; }

/* COLORS */

table.highlight, .boxGrey { background-color: #F5F5F5; }
.color-gold { color: #FC0; }
.color-blue { color: #06F; }
.color-red { color: #ff0033; }
.color-yellow { color: #f5ee34; }
.color-green { color: #468847; }
.color-delete { color: #b94a48; }

.remove { color: #D3D3D3; }
.remove:hover { color:#900; cursor: pointer; }

.btm-red, .btm-yellow, .btm-green { border-bottom: solid 2px; }
.btm-red { border-color: #ff0033; }
.btm-yellow { border-color: #f5ee34; }
.btm-green { border-color: #97e43d; }

/* SHARED BACKGROUND COLORS **********/
a.button, input.button, b.button,
#iframeContainer table.tableStyled tr th.checkbox {
	background-color: #69c52c;
}

#iframeContainer header p {
	color: #FFF;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

/* HEADING TAGS *********************************/

#iframeContainer header h1, #iframeContainer h1,
#iframeContainer h2, #iframeContainer h3, #iframeContainer header h3 { 
	color: #FFF;
	font-size: 26px;
	font-weight: 400;
	margin: 0 0 15px 15px;
	padding: 0 0 0 0;
	line-height: 27px;
}

#iframeContainer header h1,
#iframeContainer header h3 {
	display: inline-block;
	float: left;
	margin-top: 15px;
}
#iframeContainer header span,
#iframeContainer header span a {
	color: #FFF;
	display: inline-block;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 8px 10px 0 0;
	text-decoration: underline;
}
#iframeContainer header p {
	position: relative;
	top: 18px;
	left: 15px;
}
#iframeContainer header .button {
	position: relative;
	top: 10px;	
}
#iframeContainer span a:hover {
	color: #007aca; /* Blue, dark */
}
#iframeContainer h2, #iframeContainer h3, #iframeContainer h4 {
	color: #42bfe7; /* Blue, light */
	font-size: 20px;
	margin-top: 15px;
}
#iframeContainer header h3 {
	font-size 18px;
}
#iframeContainer span a:hover { /* Help Link */
	color: #87d73a; /* Green */
}

/*------------------------------------*\
    LISTS
\*------------------------------------*/

/* 	ORDERED LISTS
	************************************/
	#iframeContainer ol li { font-size: 13px; }

/*	DEFAULT UNORDERED LIST
	*************************************/
#iframeContainer ul {
	font-size: 12px;
	list-style: none;
	padding: 0;
	margin: 15px; }
#iframeContainer ul li:before {
  color: #42bfe7;
  content: "• ";
  font-size: 16px;
}

#iframeContainer ul li {
    padding-left: 15px;
    text-indent: -9px;
	line-height: 16px;
	min-height: 25px;
}

/* UNSTYLED UNORDERED LIST */
#iframeContainer ul.unstyled {
	font-size: 13px;
	list-style: none;
	margin: 15px 15px 10px 2px;
	padding: 0 0 15px 0;
}

#iframeContainer ul.unstyled.indent { margin-left: 25px; }
#iframeContainer td ul.unstyled li { margin-left: 0; } /* No left margin for ULs in tables */
#iframeContainer ul.unstyled li {
	list-style-image: none;
	text-indent: 0;
	min-height: 10px;
}

#iframeContainer ul.unstyled.checkbox li {
	padding-left: 30px;
	height: auto;
}

#iframeContainer ul.unstyled li:before { content: ""; }

/* ERROR LIST */
#iframeContainer ul.error-list { font-weight: bold; }

/* PAGINATION ORDER LIST */
#iframeContainer ol.pagination {
	border:0;
	margin: 0;
	padding: 0;
}
#iframeContainer .pagination li {
	border: 0;
	font-size: 11px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#iframeContainer .pagination a {
	border: solid 1px #DDD;
	margin-right: 2px;
}
#iframeContainer .pagination .previous-off,
#iframeContainer .pagination .next-off {
	color: #817f7f;
	display: block;
	float: left;
	font-weight: bold;
	padding: 3px 4px;
}

#iframeContainer .pagination .next a,
#iframeContainer .pagination .previous a {
	font-weight: bold;
	border: solid 1px #FFF;
} 
#iframeContainer .pagination .active{
	color: #004e87; /* dark ocean blue */
	font-weight: bold;
	display: block;
	float: left;
	padding: 4px 6px;
}
#iframeContainer .pagination a:link,
#iframeContainer .pagination a:visited {
	color: #b0afaf;
	display: block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}
#iframeContainer .pagination a:hover{
	border: solid 1px #42bfe7;
	color: #42bfe7;
}

/* PAGINATION DIV */
	div.pagination {
		float: right;
		min-width: 150px;
		margin: 5px 5px 15px 0;
}

/* INDENTED UNORDERED LIST */
#iframeContainer ul.indentedList { margin: 0 0 15px 40px;}

/* COLLAPSED UNORDERED LIST */
#iframeContainer ul.collapsed {
	margin: 0 0 10px 0;
}
#iframeContainer ul.collapsed li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0 0 0 10px;
	font-size: 10px;
}

#iframeContainer ul.collapsed li:after { content: " | "; }
#iframeContainer ul.collapsed li.last:after { content: ""; }
td.span10 { width: 10%; }
#iframeContainer table tr th { padding: 0 0 0 0; }
#iframeContainer header, #iframeContainer table.tableStyled { width: 640px; }
#iframeContainer header, #iframeContainer table.tableStyled tr th { /* See ie_iframe.css for CSS3 Pie */
	background-image: none;
	background-color: #10a3d3;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0ea0dc) to(#3bd3e3));
	background-image: -webkit-linear-gradient(top, #0ea0dc, #3bd3e3);
	background-image: -moz-linear-gradient(top, #0ea0dc, #3bd3e3);
	background-image: -ms-linear-gradient(top, #0ea0dc, #3bd3e3);
	background-image: -o-linear-gradient(top, #0ea0dc, #3bd3e3);
	border-radius: 6px 6px 0 0;
	height: 58px;
}
#iframeContainer table.tableStyled tr th,
#iframeContainer table.tableStyled.style2 tr th a,
#iframeContainer table.tableStyled.style3 tr th a,
#iframeContainer table.tableStyled.style4 tr th a {
	height: auto;
	text-align: left;
	padding-left: 5px; }

#iframeContainer table.tableStyled tr th  { height: 30px; }
#iframeContainer table.tableStyled tr th,
#iframeContainer table.tableStyled.style2 tr th,
#iframeContainer table.tableStyled.style3 tr th,
#iframeContainer table.tableStyled.style4 tr th {
	border-radius: 0;
	line-height: 12px;
	color: #FFF;
	font-weight: normal; }

#iframeContainer table.tableStyled.style2 tr th,
#iframeContainer table.tableStyled.style3 tr th { vertical-align: middle; }

#iframeContainer table.tableStyled.style2 tr th,
#iframeContainer table.tableStyled.style3 tr th {
	font-size: 16px;
	line-height: 16px;
	padding: 3px 0 0 0;
	text-align: center; }
#iframeContainer table.tableStyled.style3 tr th { font-size: 14px; }

/* STYLE 4 */
#iframeContainer table.tableStyled.style4 tr th { text-align: center; }

#iframeContainer table.tableStyled.style4 tr th a {
	font-size: 18px;
	text-align: left;
	padding-top: 5px;
}

#iframeContainer table.tableStyled.style4 tr th span {
	display: inline-block;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-right: 15px;
}

#iframeContainer table.tableStyled.style4 tr td {
	font-size: 11px;
	line-height: 1.2;
	padding-top: 10px;
	vertical-align: top;
	width: 32%;
}

#iframeContainer table.tableStyled.style4 tr td p{
	font-size: 11px;
	line-height: 16px;
	margin-top: 10px 0;
	padding: 0;
}

#iframeContainer table.tableStyled.style4 ul.unstyled {
	font-size: 11px;
	margin: 0 0 10px 0;
	padding: 0;
}

#iframeContainer table.tableStyled.style4 ul.unstyled li {
	line-height: 1;
	height: 14px;
	}
#iframeContainer table.tableStyled.style4 td.border { border-right: solid 1px #f1f1f1; }
#iframeContainer table.tableStyled.style4 tr { border-bottom: none }
#iframeContainer table.tableStyled.style4 tr th a { width: 70%; }
#iframeContainer table.tableStyled.style4 tr th span { padding-top: 5px;}
#iframeContainer table.tableStyled.style4 tr td.delete,
#iframeContainer table.tableStyled.style4 tr th.delete {
	text-align: center;
	padding: 5px 10px 0 10px; 
	width: 8%; }
#iframeContainer table.tableStyled.style4 tr td.delete { vertical-align: middle; }
a [class^="delete icon-"] {
	height: 23px;
}

#iframeContainer table.tableStyled.style5 tr td  { padding: 0; }
#iframeContainer table.tableStyled.style5.style2 tr th  { font-size: 11px; }

.tableStyled.style5.style2 td { vertical-align: top; }
.tableStyled.style5.style2 td table td { vertical-align: middle; }
.tableStyled.style5.style2 td table td { vertical-align: middle; }

.style5 .col1 { width: 213px; }
.style5 .col2 { width: 213px; }
.style5 .col3 { width: 213px; }
.style5 table { width: 212px; }

.formstyle .col1 { width: 65%; }
.formstyle .col2 { width: 15%; }
.formstyle .col3 { width: 20%; }

/*------------------------------------*\
    SURVEY TABLE:
    
\*------------------------------------*/
#iframeContainer table.tableStyled.survey { margin-bottom: 0; } /* Survery has a JS toggle after it so I eliminated the bottom margin. */
#iframeContainer table.tableStyled.survey tr th { /* See ie_iframe.css for CSS3 Pie */
	text-align: center;
	vertical-align: bottom;
	background-color: #eaeaec;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeaec) to(#FFF));
	background-image: -webkit-linear-gradient(top, #eaeaec, #FFF);
	background-image: -moz-linear-gradient(top, #eaeaec, #FFF);
	background-image: -ms-linear-gradient(top, #eaeaec, #FFF);
	background-image: -o-linear-gradient(top, #eaeaec, #FFF);
	color: #004e87; /* dark ocean blue */
	border-right: 1px solid #C0C0C0;
	border-left: 1px solid #EAEAEA;
	border-bottom-color: #C0C0C0;
	min-width: 65px;
	padding:  0;
	padding-bottom: 5px; }
#iframeContainer table.tableStyled.survey tr td.question {
	column-span: all;
	font-weight: bold;}

#iframeContainer table.hospital tr td.links,
#iframeContainer table.tableStyled.survey tr td.links {
	font-size: 11px;
	background-color: #F7F7F7;
	border-bottom: #D4D4D4 1px solid;
	border-top: #D4D4D4 1px solid;
	height: 20px;
}

#iframeContainer table.tableStyled.survey tr td.sub-question { padding-left: 25px; }
#iframeContainer table.tableStyled tr th {
	 border-right: 1px solid #26baf5;
	 border-left: 1px solid #1e92c1;
	 vertical-align: top;
	 padding-top: 5px;
}
#iframeContainer table.tableStyled tr th.checkbox {
	 border-left: none;
	 border-right: none;
	 vertical-align: middle;
}

#iframeContainer table.tableStyled tr th.last {
	 border-right: none;	
}

#iframeContent .tableStyled th a {
	display: inline-block;
	float: left;
	font-weight: normal;
}

#iframeContainer table.highlight {
	margin: 0;
	padding: 10px;
	border-collapse:separate;}
#iframeContainer table.highlight td {
	padding: 5px; }

/*------------------------------------*\
    CLAIM SUMMARY:
    Width specifications so that the
    table header widths don't jump
    around since it can be sorted
    and the contents may be different.
\*------------------------------------*/
th.claimNumber, td.claimNumber { width: 106px; }
th.patientName, td.patientName { width: 125px; }
th.provider, td.provider { width: 150px; }
th.serviceDates, td.serviceDates { width: 86px; }
th.charges, td.charges { width: 96px; }
th.docRating, td.docRating {width: 60px; }

th.claimNumber span, th.patientName span, th.provider span, 
th.serviceDates span, th.charges span, th.docRating span,
th.arrows span { display: inline-block; float: left; }

#iframeContainer table.claimStatement td, #iframeContainer table.tableStyled td,
#iframeContainer table.tableStyled.style5 tr table td { border-bottom: solid 1px #f1f1f1; }
.claim-statement {
    border-top: 2px solid #004e87; /* dark ocean blue */
    border-bottom: 2px solid #004e87;  /* dark ocean blue */
}

.prev-next-top, .prev-next-bottom { font-size: 12px;  float: right;}
.prev-next-top { margin-bottom: 10px; }

#iframeContainer .claim-statement p { margin: 5px 0 5px 15px; padding: 0;}
#iframeContainer table.tableStyled tr.ineligible td,
#iframeContainer table.tableStyled tr.noborder td
 { border-bottom-style: none; }
#iframeContainer table.tableStyled tr td.ineligible { height: 20px; }
#iframeContainer table.tableStyled tr td {
	height: 40px;
	padding: 0 2px 0 10px;;
	margin: 0
}
#iframeContainer table.tableStyled tr.error.message td { font-weight: bold; } 

#iframeContainer p, form.styled {
	font-size: 13px;
	line-height: 20px;
	margin: 5px 0 15px 15px;
}

#iframeContainer form.styled.style2 td {
	vertical-align: top;
}

#iframeContainer p.agree { font-size: 10px; }
/* ELIGIBILITY & FLEX TABLE **************************************/
table.eligibility, table.flex {
	margin-left: 15px;
	height: auto;
}
table.flex { width: 95%;}
table.eligibility { width: 350px; }
table.eligibility th, table.flex th {
	font-size: 12px;
	text-align: left;
	vertical-align: text-top;
}
#iframeContainer table.eligibility th, table.flex th,
#iframeContainer table.eligibility td {
	vertical-align: top;
}

table.flex tr { height: 20px; }
table.styled { margin-left: 15px; }

#iframeContainer table h1, #iframeContainer table h2, #iframeContainer table h3,
#iframeContainer table h4, #iframeContainer table h5, #iframeContainer table h6 { margin-left: 0px; }

/* OTHER STYLES ********************************************/
/* 
	GENERAL FLOATS: used to float an element. 
	*************************************************/
.right { float: right; }
.left { float: left; }
.ie8-left { float: none; } /* CSS3 Pie reset */
.text-left { text-align: left; }
.text-right { text-align: right; }
.right.padded {padding-right: 15px; }
.boxGrey {
	border: solid;
	border-width: 1px;
	border-color: #CCC;
	min-height: 50px;
	margin: 15px;
	border-radius: 5px; }
.boxGrey p { margin: 10px;}
.boxGrey table { font-size: 14px; }

strong.number { font-size: 25px; }
.half { width: 50%; }
dl { margin-left: 15px; font-size: 13px;}
dt { font-weight: 700; color: #d92629; }
dd { margin-bottom: 10px; margin-left: 20px;}

p.question { padding-top: 20px; }
p.question span { float: right; width: 580px; display: inline-block; font-size: 14px;}
.jqEasyCounterMsg { padding-left: 15px; } /* For the JS character counter */

#iframeContainer p.answer.indent { margin-left: 40px; margin-top: 25px;}
.click { cursor: pointer; }

em.footer {
	font-size: 8pt;
	font-style: normal; }
.expand a { font-size:10px; color: #CCC }

hr.style2 { border: 5px;}
.larger, #iframeContainer p.larger { font-size:16px; }
.clear-options { font-size: 9px; }
.columnHalf {
	float: left;
	width: 300px;
}
.columnHalf table { margin-left: 15px; }
.columnHalf p { margin: 0; }
.columnHalf.last { padding-left: 20px; }
.currency { text-align: right; padding: 5px; }
.threeQTR { width: 60%;}
.tdRight {
	padding-right: 10px;
	text-align: right;
}
.img.right {
	padding-right: 15px;
	padding-top: 10px;
}
.img.right.padded { padding: 0 15px 0 25px; }
#iframeContainer p.remove,
#iframeContainer p.remove a {
	color: #C00;
	font-size: 9px;
	margin: 0;
	padding: 0;
	text-align: center;
	cursor: pointer;
}
#iframeContent td.physician {
	margin: 0;
	padding: 0;
	background-color: #F7F7F7;
	border: #F1F1F1 1px solid;
}

input.error { border-color: #b94a48; }
.clear-radio { display: block; float: left; height: 100%; width: 30px; }

#iframeContent div.select-compare { /* See ie_iframe.css for CSS Pie */
	width: 140px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-image: none;
	background-color: #10a3d3;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0ea0dc) to(#3bd3e3));
	background-image: -webkit-linear-gradient(top, #0ea0dc, #3bd3e3);
	background-image: -moz-linear-gradient(top, #0ea0dc, #3bd3e3);
	background-image: -ms-linear-gradient(top, #0ea0dc, #3bd3e3);
	background-image: -o-linear-gradient(top, #0ea0dc, #3bd3e3);
	color: #004e87;  /* dark ocean blue */
	border: #3bd3e3 1px solid;
	border-radius: 6px 6px 0 0;
	height: 30px;
	padding-top: 5px;
	position: relative;
	left: 475px;
	font-size: 12px;
	top: 15px;

}
#iframeContent div.select-compare span {
	display: block;
	text-transform: lowercase;
	font-weight: normal;
}

/* ACCOUNT INFORMATION */
#iframeContainer .accountInfo ul.unstyled { margin: 10px 0 0 0; }

/* Red */
.alert, .balance { color: #d92629; }
.balance { font-weight: bold; }

/* CLAIM TABLE SYTLES *******************************/
#iframeContainer table {
	margin-top: 15px;
	margin-bottom: 10px;
}
#iframeContainer table.claim tr {
	border-bottom: thin solid #999;
}
#iframeContainer table.claim tr th {
	border-radius: 0;
	color: #FFF;
	height: 35px;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 1px;
	line-height: 1em;
	padding-left: 5px;
	text-align: left;
}
#iframeContainer table.claim tr th a,

#iframeContainer table.tableStyled {
	 border-collapse: separate;
	 margin-left: 0;
}

#iframeContainer table.tableStyled tr th a { color: #FFF; }

#iframeContainer table.tableStyled tr th a,
#iframeContainer table.tableStyled tr th { font-size: 11px; }
#iframeContainer table.tableStyled tr th.checkbox { /* See ie_iframe.css for CSS3 Pie */
	background-image: -webkit-linear-gradient(top, #c1eb5f, #69c52c);
	background-image: -moz-linear-gradient(top, #c1eb5f, #69c52c);
	background-image: -ms-linear-gradient(top, #c1eb5f, #69c52c);
	background-image: -o-linear-gradient(top, #c1eb5f, #69c52c);
	background-color: #69c52c;
	width: 22px;
}
	
#iframeContainer table.claim tr td { padding: 5px; }
#iframeContainer table.tableStyled th.checkbox, #iframeContainer table.tableStyled td.checkbox,
#iframeContainer table.claim th.checkbox, #iframeContainer table.claim td.checkbox {
	margin: 0;
	padding: 0;
	text-align: center;
}

/* TABLE SPRIT SORT IMAGE *******************************/
#iframeContent .tableStyled th a.inactiveDown,
#iframeContent .tableStyled th a.inactiveUp,
#iframeContent .tableStyled th a.activeUp,
#iframeContent .tableStyled th a.activeDown {
	width: 12px;
	display: inline-block;
	float: right;
	height: 100%;
	background-image: url(../images/global/up-down-arrows.png);
	background-repeat:no-repeat;
}

/*------------------------------------*\
    SORT ARROWS
\*------------------------------------*/

#iframeContent .tableStyled th a.inactiveDown:hover,
#iframeContent .tableStyled th a.inactiveUp:hover,
#iframeContent .tableStyled th a.activeUp:hover,
#iframeContent .tableStyled th a.activeDown:hover {
	background-image: url(../images/global/up-down-arrows-hover.png);
	text-decoration: none; }
a.activeUp, a.inactiveUp { margin-right: 3px; }
a.activeDown { background-position: 0 0; }
a.activeUp { background-position: -12px 0; }
a.inactiveDown { background-position: -24px 0; }
a.inactiveUp { background-position: -36px 0;  }


.tableStyled tbody tr.success > td {
  background-color: #dff0d8;
}

.tableStyled tbody tr.error > td {
  background-color: #f2dede;
}

.tableStyled tbody tr.warning > td {
  background-color: #fcf8e3;
}

.tableStyled tbody tr.info > td {
  background-color: #d9edf7;
}

/* COMPARE DOCS */
table.compare-doc {
	font-size: 11px;
}

#iframeContainer table.compare-doc h3 {
	font-size: 18px;
}
#iframeContainer table.compare-doc td {
	padding: 0 2px 10px 2px;	
	vertical-align: top;
	font-size: 11px;
	line-height: 16px;
}
#iframeContainer table.compare-doc td.heading {
	height: 30px;
	padding: 10px 0 0 0;
	margin: 0;
}
#iframeContainer table.compare-doc td { border-left: solid 1px #f1f1f1; padding-left: 10px; }
#iframeContainer table.compare-doc th {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	line-height: 16px;
}
#iframeContainer table.compare-doc th {
	padding: 5px 10px 5px 0;;
}

#iframeContainer table.compare-doc td {
	padding: 5px 0 5px 10px;;
}
#iframeContainer table.compare-doc ul.unstyled,
#iframeContainer table.compare-doc ul.unstyled li {
	margin: 0 3px;
	padding: 0;
	font-size: 10px;
	line-height: 16px;
}
#iframeContainer table.compare-doc ul.unstyled li {
	height: 14px;
}

#iframeContainer table.compare-doc ul.unstyled {
	margin: 0 5px 0 5px;
}

#iframeContainer table.compare-doc td.rating {
	vertical-align: middle;
	text-align: center;
}

#iframeContainer table.compare-doc td.heading h3 {
	margin: 8px 0 8px 15px;
}

#iframeContainer table.compare-doc td.star-toc {
	border-left-style: none;
	text-align: center;
}

#iframeContainer table.compare-doc td.heading,
#iframeContainer table.hospital td.heading {
	background-image: none;
	border-bottom: 2px solid #f1f1f1;
	border-left: none;
}

#iframeContainer table.compare-doc td.heading h3,
#iframeContainer table.hospital td.heading h3 {
	font-size: 16px;
	margin: 3px 15px;
	padding: 0;
}

#iframeContainer table.compare-doc td.heading {
	border-bottom: 2px solid #f1f1f1;
	border-radius: 0;
	color: #FFF;
	height: 35px;
	font-weight: 100;
	font-size: 16px;
	line-height: 12px;
	padding-left: 10px;
	text-align: left;
}
/* PROVIDER FINDER - HOSPITAL */

#iframeContainer table.hospital { width: 100%; }

#iframeContainer table.hospital,
#iframeContainer table.hospital td,
#iframeContainer table.hospital th, 
#iframeContainer table.hospital p, {
	font-size: 12px;
}
#iframeContainer table.hospital { margin-top: 0; }

#iframeContainer table.hospital h3 {
	font-size: 18px;
}
#iframeContainer table.hospital td {
	padding: 0 2px 10px 2px;	
	vertical-align: top;
	line-height: 16px;
}
#iframeContainer table.hospital td.heading {
	height: 30px;
	padding: 10px 0 0 0;
	margin: 0;
}
#iframeContainer table.hospital th {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	vertical-align: top;
	line-height: 16px;
}
#iframeContainer table.hospital th {
	padding: 5px 10px 5px 0;
}

#iframeContainer table.hospital td {
	padding: 5px 0 5px 15px;
}
#iframeContainer table.hospital.items td {
	border-bottom: solid 1px #f1f1f1;
}

#iframeContainer table.hospital.items th {
	text-align: center;
}
#iframeContainer table.hospital p,
#iframeContainer table.hospital.items th {
	text-size: 10px;
}

#iframeContainer table.hospital ul.unstyled,
#iframeContainer table.hospital ul.unstyled li {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 16px;
}
#iframeContainer table.hospital ul.unstyled li {
	height: 14px;
}

#iframeContainer table.hospital ul.unstyled {
	margin: 0 5px 0 0;
}

#iframeContainer table.hospital td.rating {
	vertical-align: middle;
	text-align: center;
}

#iframeContainer table.hospital td.heading h3 {
	margin: 8px 0 8px 0;
}

#iframeContainer table.hospital td.heading,
#iframeContainer table.hospital td.heading {
	background-image: none;
	border-bottom: 2px solid #f1f1f1;
	border-left: none;
}

#iframeContainer table.hospital td.heading h3,
#iframeContainer table.hospital td.heading h3 {
	font-size: 16px;
	margin: 3px 15px 3px 15px;
	padding: 0;
}

#iframeContainer table.hospital td.heading {
	border-bottom: 2px solid #f1f1f1;
	border-radius: 0;
	color: #FFF;
	height: 35px;
	font-weight: 100;
	font-size: 16px;
	line-height: 12px;
	padding-left: 10px;
	text-align: left;
}

#iframeContainer table.hospital tr.item:hover { background-color: #F9F9F9; }
#iframeContainer table.hospital tr.item p { margin: 0; }
#iframeContainer table.hospital .what { font-size: 10px; padding-top: 5px;}
#iframeContainer table.hospital p.learn-about { padding: 5px 15px; margin: 0; float: right; font-size: 10px; }
#iframeContainer table.hospital h4 {
	font-size: 16px;
	margin-left: 15px;
	color: #999;
}

#iframeContainer table.hospital ul { font-size: 11px; }

#iframeContainer table.hospital p.expand {
	padding: 0 15px 0 0;
	margin: 0;
}

	  /* Ratings Row for Doctor's Rating Summary */
	  #iframeContainer table.hospital td.ratings-summary {
		  height: auto;
		  border-right: 1px #f1f1f1 solid;
		  margin: 0;
		  padding: 10px 0 0 0;
		  background-color: #FAFAFA;
	  }
	  #iframeContainer table.hospital td.ratings-summary strong { display: block; }
	  #iframeContainer table.hospital td.ratings-summary.last { border-right: none; padding-left: 10px; }
	  #iframeContainer table.hospital td.ratings-summary,
	  #iframeContainer table.hospital td.ratings-summary p { font-size: 13px; font-weight: bold; }


#tab-3 p { margin-top: 0; margin-bottom: 0; }
#tab-2, #tab-5, #tab-4 { margin: 15px 7px; }
/* BUTTONS ******************************/
.button, #header .button, input.button[disabled="disabled"]:hover, a.button { /* See ie_iframe for CSS3 Pie*/
	border: 0 solid #69c52c;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 1px 3px rgba(000,000,000,0.5), inset 0 0 1px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(000,000,000,0.5), inset 0 0 1px rgba(255,255,255,0.5);
	box-shadow: 0 1px 3px rgba(000,000,000,0.5), inset 0 0 1px rgba(255,255,255,0.5);
	background-image: -webkit-linear-gradient(top, #c1eb5f, #69c52c);
	background-image: -moz-linear-gradient(top, #c1eb5f, #69c52c);
	background-image: -ms-linear-gradient(top, #c1eb5f, #69c52c);
	background-image: -o-linear-gradient(top, #c1eb5f, #69c52c);
	border-radius: 4px;
	line-height: 30px;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #65B62A;
	min-height: 30px;
	padding: 0 10px;
}

b.button { cursor: pointer; display: inline-block; }
p .button { padding: 10px; }
p input.button { padding: 5px 10px; }

a.button.grey { padding: 10px 10px;}


a.button:hover, .button:hover { /*Setting both a and class to override previous a declorations */
	color: #FFF;
	background-image: -webkit-linear-gradient(top, #69c52c, #c1eb5f); /* See ie_iframe for CSS3 Pie*/
	background-image: -moz-linear-gradient(top, #69c52c, #c1eb5f);
	background-image: -ms-linear-gradient(top, #69c52c, #c1eb5f);
	background-image: -o-linear-gradient(top, #69c52c, #c1eb5f);
	text-decoration: none;
} 

.button.grey { /* Grey Button Design c2c1c1 e7e3e3*/
	background-image: -webkit-linear-gradient(top, #e7e3e3, #c2c1c1); /* See ie_iframe for CSS3 Pie*/
	background-image: -moz-linear-gradient(top, #e7e3e3, #c2c1c1);
	background-image: -ms-linear-gradient(top, #e7e3e3, #c2c1c1);
	background-image: -o-linear-gradient(top, #e7e3e3, #c2c1c1);
	border: 0 solid #c2c1c1;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.button.grey:hover { /* Grey Button Design c2c1c1 e7e3e3*/
	background-image: -webkit-linear-gradient(top, #c2c1c1, #e7e3e3); /* See ie_iframe for CSS3 Pie*/
	background-image: -moz-linear-gradient(top, #c2c1c1, #e7e3e3);
	background-image: -ms-linear-gradient(top, #c2c1c1, #e7e3e3);
	background-image: -o-linear-gradient(top, #c2c1c1, #e7e3e3);
}

.button.small { height: 20px; line-height: 20px; font-size: 10px;  }

header .button.right { padding-top: 0; }
.button.right { 	margin-right: 15px; }
p .button.small { padding: 3px 5px; border-radius: 3px;} 

input.button[disabled="disabled"] { opacity: 0.5; color: white; cursor: default;}

/* CHART */
.graph { /* See ie_iframe.css for CSS3 Pie. */
	float: left;
	margin-top: 10px;
	background-color:#FFF;
	width: 280px;
	padding: 0;
	border: #D5D5D5 1px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: -1px -1px 5px #EAEAEA;
	-webkit-box-shadow: -1px -1px 5px #EAEAEA;
	box-shadow: -1px -1px 5px #EAEAEA;
	display: inline-block;
}

.graph .bar { /* See ie_iframe.css for CSS3 Pie. */
	display: inline-block;
	background-image: url(../images/global/bargraph.png);
	background-position: right center;
	background-repeat: repeat-x;
	border-right:#538e02 1px solid;
	border: #D5D5D5 1px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: -1px -1px 5px #EAEAEA;
	-webkit-box-shadow: -1px -1px 5px #EAEAEA;
	box-shadow: -1px -1px 5px #EAEAEA;
	text-align: right;
	color: rgba(0,0,0,0.65);
	height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	padding-right: 5px;
}

.graph .bar span { 
	margin: 0 5px; 
	padding: 0 5px; 
	line-height: normal;
	color: #004E87;}

.button2 {
		font-size: 10px;
		border: #D5D5D5 1px solid;
		border-radius: 3px;
		padding: 5px; }

.button2:hover { background: #EAEAEA; text-decoration: none;}

.chart { width: 60%; margin: 0 auto;}
.chart th { width: 20%;}
.chart td { min-width: 50px;}
#iframeContent table.chart th { 
	font-size: 12px;
	vertical-align: bottom;
	text-align: right;
	padding-right: 10px;
	padding-bottom: 5px;}

.hide-screen { display: none; }

/* ALERT */

.alert-box {
  padding: 0;
  margin: 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

form .alert-box { margin-left: 0px; }
div.stacked { margin: 5px 0; }

.alert-box, .alert-box h4 { color: #c09853; }
.alert-box h4 { margin: 0; }

#iframeContainer .left.half div.alert-box { margin-top: 0px; margin-left: 15px;}

#iframeContainer .alert-box p { margin: 5px 10px 5px 15px; }
.alert-box .alert-box-close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success h4 { color: #468847; }

.alert-danger, .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4, .alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 { color: #3a87ad; }

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p, .alert-block > ul {  margin-bottom: 0; }
.alert-block p + p { margin-top: 5px; }

/* CONFIG TABLE ELEMENTS *******************************/

#iframeContainer table.tableStyled tr td.config {
	text-align: center;
}

/* RATE YOUR DOCTOR ELEMENTS *******************************/

.tableStyled span.name, .tableStyled span.title {
	display: block;
	padding: 0;
}
.tableStyled span.name {
	color: #004e87; /* dark ocean blue */
	font-weight: bold;
	margin-bottom: 0;
}
.tableStyled span.title { margin-top: 0; }


/* BILLING STATEMENT **************************/
.address { text-transform: uppercase;}
.branding { margin: 15px; }
.branding img { padding-bottom: 15px; }
.branding span.address {
	font-size: 10pt;
	padding: 15px 0 15px 0;
}
.billingStatement p.help {
	position: relative;
	top: 90px; }
.billingStatement hr.clearfix { padding: 15px 0 10px 0; }

img.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 15px;
   margin-bottom: 15px;
 }
 
/* This aligns the check box so that text to the right of the box lines up together instead of flowing under the checkbox.*/ 
#iframeContainer p.checkbox { margin-left: 40px;}
#iframeContainer p.checkbox input[type="checkbox"] { position: relative; left: -20px; top: 3px; vertical-align: top;}
#iframeContainer p.checkbox span { display: inline-block; width: 90%;}

/* PROGRESS *****************************************/
#iframeContainer div.progress {
	display:block;
	font-size:16px;
	position: relative;
	top: -10px;
}
#iframeContainer div.progress, div.progress ol {
	height: 67px;
}
#iframeContainer div.progress ol {
	display:block;
	margin:0;
	padding:0;
	overflow:hidden;
	position:relative;
}
#iframeContainer div.progress ol > li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}
#iframeContainer div.progress ol > li:first-child .bg {
	background:none;
}
#iframeContainer div.progress ol > li:first-child p {
	margin-left:-20px;
}
#iframeContainer div.progress ol > li.current p,
#iframeContainer div.progress ol > li.current .wrap,
#iframeContainer div.progress ol > li.current ~ li .wrap {
	opacity:1;
	filter:alpha(opacity=100);		/* this is for IE 8 */
}
#iframeContainer div.progress ol > li .bg {
	background-position:0 50%;
	background-repeat:no-repeat;
	position:absolute;
	top:0;
	bottom:0;
}
#iframeContainer div.progress ol > li .wrap {
	min-height:20px;
	padding:8px 8px 8px 35px;
	position:relative;
}
#iframeContainer div.progress ol > li:first-child .wrap {
	padding-left:35px;
}
#iframeContainer div.progress ol > li p {
	margin:0;
}
#iframeContainer div.progress ol > li .title {
	font-weight:bold;
	line-height:1;
	margin: 0 0 4px 0;
}
#iframeContainer div.progress ol > li .subtitle {
	font-size: 12px;
	line-height:1;
	padding: 0;
	margin: 0;
}

#iframeContainer div.progress.three-steps ol > li,
#iframeContainer div.progress.three-steps ol > li .bg {
	width:34%;
}
#iframeContainer div.progress.three-steps ol > li:first-child,
#iframeContainer div.progress.three-steps ol > li:first-child .bg {
	width:32%;
	width:31.9%;
}

#iframeContainer div.progress.four-steps ol > li,
#iframeContainer div.progress.four-steps ol > li .bg {
	width:26%;
}
#iframeContainer div.progress.four-steps ol > li:first-child,
#iframeContainer div.progress.four-steps ol > li:first-child .bg {
	width:22%;
}

#iframeContainer div.progress.five-steps ol > li,
#iframeContainer div.progress.five-steps ol > li .bg {
	width:20%;
}
#iframeContainer div.progress { /* default background pattern */
	background:url(../images/progress/bg.png);				
}
#iframeContainer div.progress ol > li .bg { /* default step decoration */						
	background-image:url(../images/progress/pointer.png);
}
#iframeContainer div.progress ol > li:first-child .bg { /* not needed for step #1 */
	background:none;								
}
#iframeContainer div.progress ol > li.current .bg { /* the active step */
	background-image:url(../images/progress/current.png);
}
#iframeContainer div.progress ol > li.current:first-child .bg {	/* some different styling is needed when the active step is #1 */
	background-position:100% 50%;
	background-repeat:no-repeat;
}
#iframeContainer div.progress ol > li.current + li .bg {
	background-image:url(../images/progress/pointer_current.png);
}
#iframeContainer div.progress ol > li { /* Default color */
	color: #c5c5c5;
}
#iframeContainer div.progress ol > li.current { /* current title text color */
	color:#34719d;
}

#iframeContainer footer, #iframeContainer footer p { font-size: 10px; color: #6d6d6d; line-height: 1; margin-top: 25px; clear: both; }
#iframeContainer footer .button { line-height: 30px;}

.description { margin-left: 150px; text-indent: 0; display: inline-block;}



/* PROVIDER FINDER STYLES *****************************/

#iframeContainer header h3 { font-size: 20px; }
.patient-sat, .patient-rec {
	display: block; 
	height: 18px;
	float: left;
	margin: 5px 0;
}
.patient-sat { border-right: 1px #000000 solid;
	padding-top: 10px;
	text-align: center;
	width: 45px;
}
.patient-rec {
	width: 90px;
	padding: 5px 0 0 15px;
}

#iframeContainer div.search-options table.finder { margin-top: 0; }
#iframeContainer table.finder { padding: 0 0 0 15px; }
#iframeContainer table.finder tr { margin: 5px 0; }
#iframeContainer table.finder td:first-child {
	padding-left: 15px;
	padding-right: 0; }
#iframeContainer table.finder tr.last {
	border-bottom: none;
	height: 50px;
	margin-top: 10px; }
#iframeContainer table.finder p { margin: 5px 15px 5px 15px; }

#iframeContainer table.finder label,
#iframeContainer table.finder input[type="text"],
#iframeContainer table.finder input[type="password"],
#iframeContainer table.finder select.span {
	text-align: left;
	width: 80%; }

#iframeContainer table.finder-results td { vertical-align: top; }

form.drug-claim input[type="submit"] { position: relative; top: -5px; }
.bar-green, .bar-blue { display: inline-block; height: 10px; padding-left: 10px; }
.bar-green { background-color: #69c52c; }
.bar-blue { background-color: #10a3d3; }
.dollar { float: right; display: inline-block; padding-right: 10px; }


/* POP UP STYLES */
body.pop #iframeContent h1, body.pop #iframeContent h2,
body.pop #iframeContent h3, body.pop #iframeContent h4,
body.pop #iframeContent h5 { margin-left: 15px; }
body.pop #iframeContent h3 { border-bottom: 1px #EAEAEA solid;  width: 95%;}
body.pop li { line-height: 16px; padding-bottom: 10px;}

/* JQuery Styles */
.toggle-options-click { cursor: pointer; }
#iframeContainer .toggle-options table { margin-top: 0; padding-top: 0; }
 
/*------------------------------------*\
    JQUERY UI STYLES
\*------------------------------------*/


/*	TOOLTIPS
	********************************** */
.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
  background-color: #FFF;
  font-size: 10px; }

 body .ui-tooltip {
  border-width: 2px; }


/* 
	TABS
	*********************************/

/* Reset the default List Styles */
	#iframeContainer ul.ui-tabs-nav li { margin: 0; padding: 0 0; } /* Reset the default LI */
	#iframeContainer ul.ui-tabs-nav li::before { content: ""; }
	#iframeContainer ul.ui-tabs-nav { margin: 10px 0 0 0; padding: 0; height: 33px; }
	
.ui-tabs { 
	position: relative;
	zoom: 1;
}
.ui-tabs .ui-tabs-nav { margin: 0; padding: 0; border-bottom: 1px #D5D5D5 solid; width: 100%; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 0; margin: 1px .2em 0 0; border-bottom: 0; padding: 0; white-space: nowrap; 	border: #D5D5D5 1px solid;
}
.ui-tabs .ui-tabs-nav li a { float: left; padding: 6.5px 18px; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: -1px; padding-bottom: 1px; background-color: #D2D2D2; margin: 0; padding: 0}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a { cursor: text; color: #FFF;}
.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 0; background: none; }

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; -khtml-border-top-left-radius: 6px; border-top-left-radius: 6px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; -khtml-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; -khtml-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; -khtml-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-tabs ul.ui-corner-all { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

#iframeContainer ul.ui-tabs-nav li.first { 	margin-left: 15px; }

.ui-tabs .ui-tabs-nav li.ui-state-default {  /* See ie_iframe for CSS3 Pie. */
	background-image: none;
	background-color: #FFF;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF) to(#eaeaec));
	background-image: -webkit-linear-gradient(top, #ffffff, #eaeaec);
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaec);
	background-image: -ms-linear-gradient(top, #ffffff, #eaeaec);
	background-image: -o-linear-gradient(top, #ffffff, #eaeaec);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 32px;
	line-height: 19px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.ui-tabs .ui-tabs-nav li.ui-state-default:hover {  /* See ie_iframe for CSS3 Pie. */
	background-color: #eaeaec;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeaec) to(#ffffff));
	background-image: -webkit-linear-gradient(top, #eaeaec, #ffffff);
	background-image: -moz-linear-gradient(top, #eaeaec, #ffffff);
	background-image: -ms-linear-gradient(top, #eaeaec, #ffffff);
	background-image: -o-linear-gradient(top, #eaeaec, #ffffff);
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active,
.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover { /* See ie_iframe for CSS3 Pie. */
	background-image: none;
	background-color: #10a3d3;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0ea0dc) to(#3bd3e3));
	background-image: -webkit-linear-gradient(top, #0ea0dc, #3bd3e3);
	background-image: -moz-linear-gradient(top, #0ea0dc, #3bd3e3);
	background-image: -ms-linear-gradient(top, #0ea0dc, #3bd3e3);
	background-image: -o-linear-gradient(top, #0ea0dc, #3bd3e3);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

/* 
	Datepicker
	*********************************/

/* DatePicker Container */
.ui-datepicker {
	width: 216px;
	height: auto;
	margin: 5px auto 0;
	font: 9pt Arial, sans-serif;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}
.ui-datepicker a { text-decoration: none; }
.ui-datepicker table {	width: 100%; }
.ui-datepicker-header { /* See ie_iframe.css for CSS3 Pie */
	background-color: #10a3d3;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0ea0dc) to(#3bd3e3));
	background-image: -webkit-linear-gradient(top, #0ea0dc, #3bd3e3);
	background-image:    -moz-linear-gradient(top, #0ea0dc, #3bd3e3);
	background-image:     -ms-linear-gradient(top, #0ea0dc, #3bd3e3);
	background-image:      -o-linear-gradient(top, #0ea0dc, #3bd3e3);
	border-color: #111;
	border-width: 1px 0 0 0;
	border-style: solid;
	box-shadow: inset 0 1px 1px 0 rgba(250, 250, 250, .2);
	color: #FFF;
	font-weight: bold;
	line-height: 30px;
	text-shadow: -1px 1px 0 #000;		
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(250, 250, 250, 2);
	-moz-box-shadow:    inset 0 1px 1px 0 rgba(250, 250, 250, .2);
}
.ui-datepicker-title { text-align: center; }
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-image: url('images/arrow.png');
	background-repeat: no-repeat;
	line-height: 72px;
	overflow: hidden;
	z-index: 20000;
}
.ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0;
}
.ui-datepicker thead {
	background-color: #f7f7f7;
	background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image:    -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
	background-image:     -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
	background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
	border-bottom: 1px solid #bbb;
}
.ui-datepicker th {
	text-transform: uppercase;
	font-size: 6pt;
	padding: 5px 0;
	color: #666666;
	text-shadow: 1px 0 0 #fff;
	filter: dropshadow(color=#fff, offx=1, offy=0);
}
.ui-datepicker tbody td {
	padding: 0;
	border-right: 1px solid #bbb;
}
.ui-datepicker tbody td:last-child { border-right: 0; }
.ui-datepicker tbody tr { border-bottom: 1px solid #bbb; }
.ui-datepicker tbody tr:last-child { border-bottom: 0; }
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #666666;
	text-shadow: 1px 1px 0 #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
	background: #ededed;
	background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
	background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: linear-gradient(top,  #ededed 0%,#dedede 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
	-webkit-box-shadow: inset 1px 1px 0 0 rgba(250, 250, 250, .5);
	-moz-box-shadow: inset 1px 1px 0 0 rgba(250, 250, 250, .5);
	box-shadow: inset 1px 1px 0 0 rgba(250, 250, 250, .5); }
.ui-datepicker-calendar .ui-state-hover { background: #f7f7f7; }
.ui-datepicker-calendar .ui-state-active {
	background: #6eafbf;
	-webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .1);
	box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .1);
	color: #e0e0e0;
	text-shadow: 0 1px 0 #4d7a85;
	filter: dropshadow(color=#4d7a85, offx=0, offy=1);
	border: 1px solid #55838f;
	position: relative;
	margin: -1px; }
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3; }
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 29px;
	margin-left: 0; }
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 29px;
	margin-right: 0; }
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 29px;
	margin-bottom: 0; }
.ui-datepicker-unselectable { background-color: #FFF; }
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0; }
#iframeContent input.medium.datepicker { width: 75px; }

/*------------------------------------*\
    MENU: the top right blue box menu.
\*------------------------------------*/

#iframeContainer .menu ul li {
	  padding-left: 5px;
	  padding-right: 5px;
	  text-indent: 0;
	  line-height: 12px;
	  min-height: 10px; }
#iframeContainer .menu ul { margin: 10px; }

/*------------------------------------*\
    jQUERY TRANSFORM
\*------------------------------------*/

#iframeContainer .jqTransformSelectWrapper ul { margin: 0; }
#iframeContainer .jqTransformSelectWrapper ul li:before { content: ""; }
#iframeContainer .jqTransformSelectWrapper ul li { 
  padding-left: 0;
  text-indent: 0;
  line-height: 12px;
}

.pdf:after { width: 32px; height: 32px; display: inline-block; background-image: url(../images/icons/pdficon_large.png);  }

.whatis {font-size: 11px; padding-top: 6px; margin-right: 15px; }
#iframeContainer .history { font-size: 11px; }
table.totalAmounts { width: 300px;}
table.totalAmounts { text-align: right; float: right; clear: both; margin-bottom: 25px; }
/*------------------------------------*\
    FONT AWESOME SETUP:
	Do not edit this section.
\*------------------------------------*/

[class^="icon-"],[class*=" icon-"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0 0;background-repeat:repeat;margin-top:0}.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"]{background-image:none}[class^="icon-"]:before,[class*=" icon-"]:before{text-decoration:inherit;display:inline-block;speak:none}a [class^="icon-"],a [class*=" icon-"]{display:inline-block}.icon-large:before{vertical-align:-10%;font-size:1.3333333333333333em}.btn [class^="icon-"],.nav [class^="icon-"],.btn [class*=" icon-"],.nav [class*=" icon-"]{display:inline}.btn [class^="icon-"].icon-large,.nav [class^="icon-"].icon-large,.btn [class*=" icon-"].icon-large,.nav [class*=" icon-"].icon-large{line-height:.9em}.btn [class^="icon-"].icon-spin,.nav [class^="icon-"].icon-spin,.btn [class*=" icon-"].icon-spin,.nav [class*=" icon-"].icon-spin{display:inline-block}.nav-tabs [class^="icon-"],.nav-pills [class^="icon-"],.nav-tabs [class*=" icon-"],.nav-pills [class*=" icon-"],.nav-tabs [class^="icon-"].icon-large,.nav-pills [class^="icon-"].icon-large,.nav-tabs [class*=" icon-"].icon-large,.nav-pills [class*=" icon-"].icon-large{line-height:.9em}li [class^="icon-"],.nav li [class^="icon-"],li [class*=" icon-"],.nav li [class*=" icon-"]{display:inline-block;width:1.25em;text-align:center}li [class^="icon-"].icon-large,.nav li [class^="icon-"].icon-large,li [class*=" icon-"].icon-large,.nav li [class*=" icon-"].icon-large{width:1.5625em}ul.icons{list-style-type:none;text-indent:-0.75em}ul.icons li [class^="icon-"],ul.icons li [class*=" icon-"]{width:.75em}.icon-muted{color:#eee}.icon-border{border:solid 1px #eee;padding:.2em .25em .15em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.icon-2x{font-size:2em}.icon-2x.icon-border{border-width:2px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.icon-3x{font-size:3em}.icon-3x.icon-border{border-width:3px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.icon-4x{font-size:4em}.icon-4x.icon-border{border-width:4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}.pull-right{float:right}.pull-left{float:left}[class^="icon-"].pull-left,[class*=" icon-"].pull-left{margin-right:.3em}[class^="icon-"].pull-right,[class*=" icon-"].pull-right{margin-left:.3em}.btn [class^="icon-"].pull-left.icon-2x,.btn [class*=" icon-"].pull-left.icon-2x,.btn [class^="icon-"].pull-right.icon-2x,.btn [class*=" icon-"].pull-right.icon-2x{margin-top:.18em}.btn [class^="icon-"].icon-spin.icon-large,.btn [class*=" icon-"].icon-spin.icon-large{line-height:.8em}.btn.btn-small [class^="icon-"].pull-left.icon-2x,.btn.btn-small [class*=" icon-"].pull-left.icon-2x,.btn.btn-small [class^="icon-"].pull-right.icon-2x,.btn.btn-small [class*=" icon-"].pull-right.icon-2x{margin-top:.25em}.btn.btn-large [class^="icon-"],.btn.btn-large [class*=" icon-"]{margin-top:0}.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x,.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-top:.05em}.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x{margin-right:.2em}.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-left:.2em}.icon-spin{display:inline-block;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}@-moz-document url-prefix(){.icon-spin{height:.9em}.btn .icon-spin{height:auto}.icon-spin.icon-large{height:1.25em}.btn .icon-spin.icon-large{height:.75em}}.icon-glass:before{content:"\f000"}.icon-music:before{content:"\f001"}.icon-search:before{content:"\f002"}.icon-envelope:before{content:"\f003"}.icon-heart:before{content:"\f004"}.icon-star:before{content:"\f005"}.icon-star-empty:before{content:"\f006"}.icon-user:before{content:"\f007"}.icon-film:before{content:"\f008"}.icon-th-large:before{content:"\f009"}.icon-th:before{content:"\f00a"}.icon-th-list:before{content:"\f00b"}.icon-ok:before{content:"\f00c"}.icon-remove:before{content:"\f00d"}.icon-zoom-in:before{content:"\f00e"}.icon-zoom-out:before{content:"\f010"}.icon-off:before{content:"\f011"}.icon-signal:before{content:"\f012"}.icon-cog:before{content:"\f013"}.icon-trash:before{content:"\f014"}.icon-home:before{content:"\f015"}.icon-file:before{content:"\f016"}.icon-time:before{content:"\f017"}.icon-road:before{content:"\f018"}.icon-download-alt:before{content:"\f019"}.icon-download:before{content:"\f01a"}.icon-upload:before{content:"\f01b"}.icon-inbox:before{content:"\f01c"}.icon-play-circle:before{content:"\f01d"}.icon-repeat:before{content:"\f01e"}.icon-refresh:before{content:"\f021"}.icon-list-alt:before{content:"\f022"}.icon-lock:before{content:"\f023"}.icon-flag:before{content:"\f024"}.icon-headphones:before{content:"\f025"}.icon-volume-off:before{content:"\f026"}.icon-volume-down:before{content:"\f027"}.icon-volume-up:before{content:"\f028"}.icon-qrcode:before{content:"\f029"}.icon-barcode:before{content:"\f02a"}.icon-tag:before{content:"\f02b"}.icon-tags:before{content:"\f02c"}.icon-book:before{content:"\f02d"}.icon-bookmark:before{content:"\f02e"}.icon-print:before{content:"\f02f"}.icon-camera:before{content:"\f030"}.icon-font:before{content:"\f031"}.icon-bold:before{content:"\f032"}.icon-italic:before{content:"\f033"}.icon-text-height:before{content:"\f034"}.icon-text-width:before{content:"\f035"}.icon-align-left:before{content:"\f036"}.icon-align-center:before{content:"\f037"}.icon-align-right:before{content:"\f038"}.icon-align-justify:before{content:"\f039"}.icon-list:before{content:"\f03a"}.icon-indent-left:before{content:"\f03b"}.icon-indent-right:before{content:"\f03c"}.icon-facetime-video:before{content:"\f03d"}.icon-picture:before{content:"\f03e"}.icon-pencil:before{content:"\f040"}.icon-map-marker:before{content:"\f041"}.icon-adjust:before{content:"\f042"}.icon-tint:before{content:"\f043"}.icon-edit:before{content:"\f044"}.icon-share:before{content:"\f045"}.icon-check:before{content:"\f046"}.icon-move:before{content:"\f047"}.icon-step-backward:before{content:"\f048"}.icon-fast-backward:before{content:"\f049"}.icon-backward:before{content:"\f04a"}.icon-play:before{content:"\f04b"}.icon-pause:before{content:"\f04c"}.icon-stop:before{content:"\f04d"}.icon-forward:before{content:"\f04e"}.icon-fast-forward:before{content:"\f050"}.icon-step-forward:before{content:"\f051"}.icon-eject:before{content:"\f052"}.icon-chevron-left:before{content:"\f053"}.icon-chevron-right:before{content:"\f054"}.icon-plus-sign:before{content:"\f055"}.icon-minus-sign:before{content:"\f056"}.icon-remove-sign:before{content:"\f057"}.icon-ok-sign:before{content:"\f058"}.icon-question-sign:before{content:"\f059"}.icon-info-sign:before{content:"\f05a"}.icon-screenshot:before{content:"\f05b"}.icon-remove-circle:before{content:"\f05c"}.icon-ok-circle:before{content:"\f05d"}.icon-ban-circle:before{content:"\f05e"}.icon-arrow-left:before{content:"\f060"}.icon-arrow-right:before{content:"\f061"}.icon-arrow-up:before{content:"\f062"}.icon-arrow-down:before{content:"\f063"}.icon-share-alt:before{content:"\f064"}.icon-resize-full:before{content:"\f065"}.icon-resize-small:before{content:"\f066"}.icon-plus:before{content:"\f067"}.icon-minus:before{content:"\f068"}.icon-asterisk:before{content:"\f069"}.icon-exclamation-sign:before{content:"\f06a"}.icon-gift:before{content:"\f06b"}.icon-leaf:before{content:"\f06c"}.icon-fire:before{content:"\f06d"}.icon-eye-open:before{content:"\f06e"}.icon-eye-close:before{content:"\f070"}.icon-warning-sign:before{content:"\f071"}.icon-plane:before{content:"\f072"}.icon-calendar:before{content:"\f073"}.icon-random:before{content:"\f074"}.icon-comment:before{content:"\f075"}.icon-magnet:before{content:"\f076"}.icon-chevron-up:before{content:"\f077"}.icon-chevron-down:before{content:"\f078"}.icon-retweet:before{content:"\f079"}.icon-shopping-cart:before{content:"\f07a"}.icon-folder-close:before{content:"\f07b"}.icon-folder-open:before{content:"\f07c"}.icon-resize-vertical:before{content:"\f07d"}.icon-resize-horizontal:before{content:"\f07e"}.icon-bar-chart:before{content:"\f080"}.icon-twitter-sign:before{content:"\f081"}.icon-facebook-sign:before{content:"\f082"}.icon-camera-retro:before{content:"\f083"}.icon-key:before{content:"\f084"}.icon-cogs:before{content:"\f085"}.icon-comments:before{content:"\f086"}.icon-thumbs-up:before{content:"\f087"}.icon-thumbs-down:before{content:"\f088"}.icon-star-half:before{content:"\f089"}.icon-heart-empty:before{content:"\f08a"}.icon-signout:before{content:"\f08b"}.icon-linkedin-sign:before{content:"\f08c"}.icon-pushpin:before{content:"\f08d"}.icon-external-link:before{content:"\f08e"}.icon-signin:before{content:"\f090"}.icon-trophy:before{content:"\f091"}.icon-github-sign:before{content:"\f092"}.icon-upload-alt:before{content:"\f093"}.icon-lemon:before{content:"\f094"}.icon-phone:before{content:"\f095"}.icon-check-empty:before{content:"\f096"}.icon-bookmark-empty:before{content:"\f097"}.icon-phone-sign:before{content:"\f098"}.icon-twitter:before{content:"\f099"}.icon-facebook:before{content:"\f09a"}.icon-github:before{content:"\f09b"}.icon-unlock:before{content:"\f09c"}.icon-credit-card:before{content:"\f09d"}.icon-rss:before{content:"\f09e"}.icon-hdd:before{content:"\f0a0"}.icon-bullhorn:before{content:"\f0a1"}.icon-bell:before{content:"\f0a2"}.icon-certificate:before{content:"\f0a3"}.icon-hand-right:before{content:"\f0a4"}.icon-hand-left:before{content:"\f0a5"}.icon-hand-up:before{content:"\f0a6"}.icon-hand-down:before{content:"\f0a7"}.icon-circle-arrow-left:before{content:"\f0a8"}.icon-circle-arrow-right:before{content:"\f0a9"}.icon-circle-arrow-up:before{content:"\f0aa"}.icon-circle-arrow-down:before{content:"\f0ab"}.icon-globe:before{content:"\f0ac"}.icon-wrench:before{content:"\f0ad"}.icon-tasks:before{content:"\f0ae"}.icon-filter:before{content:"\f0b0"}.icon-briefcase:before{content:"\f0b1"}.icon-fullscreen:before{content:"\f0b2"}.icon-group:before{content:"\f0c0"}.icon-link:before{content:"\f0c1"}.icon-cloud:before{content:"\f0c2"}.icon-beaker:before{content:"\f0c3"}.icon-cut:before{content:"\f0c4"}.icon-copy:before{content:"\f0c5"}.icon-paper-clip:before{content:"\f0c6"}.icon-save:before{content:"\f0c7"}.icon-sign-blank:before{content:"\f0c8"}.icon-reorder:before{content:"\f0c9"}.icon-list-ul:before{content:"\f0ca"}.icon-list-ol:before{content:"\f0cb"}.icon-strikethrough:before{content:"\f0cc"}.icon-underline:before{content:"\f0cd"}.icon-table:before{content:"\f0ce"}.icon-magic:before{content:"\f0d0"}.icon-truck:before{content:"\f0d1"}.icon-pinterest:before{content:"\f0d2"}.icon-pinterest-sign:before{content:"\f0d3"}.icon-google-plus-sign:before{content:"\f0d4"}.icon-google-plus:before{content:"\f0d5"}.icon-money:before{content:"\f0d6"}.icon-caret-down:before{content:"\f0d7"}.icon-caret-up:before{content:"\f0d8"}.icon-caret-left:before{content:"\f0d9"}.icon-caret-right:before{content:"\f0da"}.icon-columns:before{content:"\f0db"}.icon-sort:before{content:"\f0dc"}.icon-sort-down:before{content:"\f0dd"}.icon-sort-up:before{content:"\f0de"}.icon-envelope-alt:before{content:"\f0e0"}.icon-linkedin:before{content:"\f0e1"}.icon-undo:before{content:"\f0e2"}.icon-legal:before{content:"\f0e3"}.icon-dashboard:before{content:"\f0e4"}.icon-comment-alt:before{content:"\f0e5"}.icon-comments-alt:before{content:"\f0e6"}.icon-bolt:before{content:"\f0e7"}.icon-sitemap:before{content:"\f0e8"}.icon-umbrella:before{content:"\f0e9"}.icon-paste:before{content:"\f0ea"}.icon-lightbulb:before{content:"\f0eb"}.icon-exchange:before{content:"\f0ec"}.icon-cloud-download:before{content:"\f0ed"}.icon-cloud-upload:before{content:"\f0ee"}.icon-user-md:before{content:"\f0f0"}.icon-stethoscope:before{content:"\f0f1"}.icon-suitcase:before{content:"\f0f2"}.icon-bell-alt:before{content:"\f0f3"}.icon-coffee:before{content:"\f0f4"}.icon-food:before{content:"\f0f5"}.icon-file-alt:before{content:"\f0f6"}.icon-building:before{content:"\f0f7"}.icon-hospital:before{content:"\f0f8"}.icon-ambulance:before{content:"\f0f9"}.icon-medkit:before{content:"\f0fa"}.icon-fighter-jet:before{content:"\f0fb"}.icon-beer:before{content:"\f0fc"}.icon-h-sign:before{content:"\f0fd"}.icon-plus-sign-alt:before{content:"\f0fe"}.icon-double-angle-left:before{content:"\f100"}.icon-double-angle-right:before{content:"\f101"}.icon-double-angle-up:before{content:"\f102"}.icon-double-angle-down:before{content:"\f103"}.icon-angle-left:before{content:"\f104"}.icon-angle-right:before{content:"\f105"}.icon-angle-up:before{content:"\f106"}.icon-angle-down:before{content:"\f107"}.icon-desktop:before{content:"\f108"}.icon-laptop:before{content:"\f109"}.icon-tablet:before{content:"\f10a"}.icon-mobile-phone:before{content:"\f10b"}.icon-circle-blank:before{content:"\f10c"}.icon-quote-left:before{content:"\f10d"}.icon-quote-right:before{content:"\f10e"}.icon-spinner:before{content:"\f110"}.icon-circle:before{content:"\f111"}.icon-reply:before{content:"\f112"}.icon-github-alt:before{content:"\f113"}.icon-folder-close-alt:before{content:"\f114"}.icon-folder-open-alt:before{content:"\f115"}

/* PRE DOCUMENTATION */
pre{border:1px solid #999;page-break-inside:avoid}
pre{font-family:Monaco, Menlo, Consolas, "Courier New", monospace;color:#333;display:block;font-size:13px;line-height:20px;word-break:break-all;word-wrap:break-word;white-space:pre-wrap;background-color:#f5f5f5;border:1px solid rgba(0,0,0,0.15);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:0px 15px;padding:9.5px}
div.indent { padding: 15px; z-index: 0; }/* z-index is a CSS Pie fix */
section.claim { border-bottom: 2px #004e87 solid; } /* dark ocean blue */
footer.footer { border-top: 2px #004e87 solid; padding: 15px 0; margin-bottom: 50px;} /* dark ocean blue */
p.contract-info { padding-top: 30px;}
footer.footer .rights { position: relative; top: -23px;}