@charset "UTF-8";
/* 
	IFRAME CSS
	2/21/13: SRW created

*/

a, #iframeContainer h1, #iframeContainer h2,
#iframeContainer h3, #iframeContainer h4,
#iframeContainer h5, #iframeContainer h6 { color: black; }

/* Items to not display */
.button, .button2, .hide-print
{ display: none; }

/* Items that should be display */
.hide-screen { display: inherit; }

/* Turn white items black */
#iframeContainer header h1,
#iframeContainer table,
#iframeContainer table tr,
#iframeContainer table tr th,
#iframeContainer table tr td,
#iframeContainer table.tableStyled,
#iframeContainer table.tableStyled tr,
#iframeContainer table.tableStyled tr th,
#iframeContainer table.tableStyled tr td { color: #000 }

/* Table Header Reset */
#iframeContainer table.tableStyled tr th
{   
	margin: 0; float: none;
	border: none;
	border-bottom: 1px solid #D5D5D5;
	background: none;
}

.alert-box, .alert-info, alert-success, .alert-danger, .alert-error { background: none; color: black; border-color: black; font-weight: normal; text-shadow: none;}

.graph { border: 1px solid black;}
.graph .bar { border-right: 1px solid black;}