/*
	IE7 Fixes
	1/25/13 - srw - created
	
*/

#iframeContainer p.indent.answer { 55px;}

/* BASE CORRECTIONS  **************************/
#iframeContainer h1 span {
	position: relative;
	top: -20px;	}
#iframeContainer header h1 a { text-decoration: underline; }
div.clearfix.padded {padding-bottom: 25px;}
#iframeContainer ul li { line-height: 18px; }
#iframeContainer ul.unstyled li { text-indent: 0; }
#iframeContainer .menu ul li { margin-left: 30px; line-height: 15px; } /* Resetting from general IE fix */

/* CSS PIE IMPLIMENTATION */

	/* Removing CSS Pie behavior because it causes
		issues with these classes. */
	#iframeContainer table.tableStyled tr th,
	#iframeContainer table.tableStyled tr th.config,
	.alert-box { behavior: none; position: static;} /* Position static corrects child elements. */
		
	/* Adding background images */
	#iframeContainer table.tableStyled tr th { background: url(../images/global/headerGradiantBg.png) repeat-x; }
	#iframeContainer table.tableStyled tr th.config { }
	
	/* Removing CSS Pie from Table TH */
	#iframeContainer table.tableStyled, 
	#iframeContainer table.tableStyled tr,
	#iframeContainer table.tableStyled tr th, { 
		position: static;
		z-index: auto;
	}
	
/* STYLED TABLE *******************************/
#iframeContainer table.tableStyled {
	border-collapse: collapse;	
}
#iframeContainer table.tableStyled tr th,
#iframeContainer table.tableStyled tr  { /* Attempting to reset the TH height. */
	font-size: 13px;
	line-height: 14px;
	margin: 0px;
}
#iframeContainer table.tableStyled tr th,
#iframeContainer table.tableStyled tr th a {
	font-size: 11px;
}
#iframeContainer table.tableStyled  tr th { padding: 5px 0 0 8px; margin: 0 1px;}

#iframeContainer table.tableStyled tr th.checkbox { /* Fix for IE 7's lack of gradiant support */
	background: url(../images/global/th-headerBG-green.png) repeat-x;	
	background-color: #69c52c;
}
#iframeContainer table.tableStyled.style2 tr th,
#iframeContainer table.tableStyled.style3 tr th,
#iframeContainer table.tableStyled.style4 tr th {
	font-size: 16px;
	line-height: 16px;
	overflow: hidden;
	padding-top: 7px;
	vertical-align: bottom;
}
#iframeContainer table.tableStyled.style3 tr th,
#iframeContainer table.tableStyled.style4 tr th { font-size: 11px; vertical-align: middle; }
#iframeContainer table.tableStyled.style4 tr th a { margin-top: 3px; }
#iframeContainer table.tableStyled.style4 tr th span { padding-top: 2px; }

#iframeContainer table.compare-doc th { width: 100px; }
#iframeContainer table.compare-doc ul li { text-indent: 0; }
.tableStyled.style4 { margin-bottom: 125px; } 
/* PAGINATION */
#iframeContainer .pagination li {
	display: block;
	float: left;
}

p input.button { padding: 0 10px; }

#iframeContainer table.finder label,
#iframeContainer table.finder select.span {
	width: 160px;
}
#iframeContainer h2, #iframeContainer h3 { font-size: 19px; }

/* CLAIM STATEMENT **************************/
table.claimStatement tr td, table.tableStyled tr td { /* Apply border to TD because IE7 ignores TR border. */
	border-bottom: solid 1px #f1f1f1;
}

table.tableStyled.style4 tr td { border-bottom: none; }

.billingStatement p.help { 	top: 95px; }

.prev-next-top { margin-bottom: 0; position: relative; top: -5px; }

a.button, a.button.grey, input.button { padding: 0 10px; }

/* Fix IE 7's lack of :before support */
#iframeContainer ul {
	list-style-image: url(../images/global/ul-dot.gif);
}
#iframeContainer ul li {
	margin-left: 35px;
	padding-left: 0px;
}
#iframeContainer ul.unstyled li {
	margin-left: 23px;	
}
#iframeContainer span.label { margin-bottom: 0px;}

form.styled span { position: relative; top: -10px;}

#iframeContainer table.tableStyled.style2 tr th,
#iframeContainer table.tableStyled.style3 tr th,
#iframeContainer table.tableStyled.style4 tr th {
	height: auto;
	padding: 10px 0;	
}
#iframeContainer table.tableStyled.style4 tr th {
	padding: 0;
	padding-bottom: 3px;
}
.ie7-none { display: none; }
.ie8-left { float: none; }
form.drug-claim input[type="submit"] { position: relative; top: 0px; }

/* IE7 displays the following correctely so adjust back after changes in ie_frame*/
#iframeContainer p.checkbox input[type="checkbox"] { top: 0px; } 

/* TOOLTIPS */
.ui-tooltip {
	border: thin #C0C0C0 solid;}

/* TABS */
#iframeContainer ul.ui-tabs-nav { list-style-image: none; }

span.formtext { position:relative; top: -10px; }
span.form-helper { padding-top: 5px; }
span.form-helper span.spacer-yn { width: 80px; }
p.question span { position: relative; top: -20px; }
.jqEasyCounterMsg { padding-left: 30px; }

/* Font Awesome Substitute */
.icon-star:before, .icon-star-empty:before, icon-print:before, .icon-edit:before,
.icon-envelope:before, .icon-file:before, .icon-file-alt:before, .icon-print:before,
.icon-user:before, .icon-question-sign:before, .icon-medkit:before, .icon-lock:before,
.icon-remove:before, .icon-plus:before, .icon-reply:before,  .icon-search:before
 { content: ""; display: none; } /* Remove content */
 
.icon-asterisk:before { content: "*"; font-family: serif; font-size: 20px; font-weight: bold; }
[class^="icon-"] { width: 16px; height: 16px; display: inline-block; } /* Create area for new content */

/* Row 1 */
.icon-star-empty { background:url(../images/global/font-awesome.png) 0 0; }
.icon-star-empty.color-blue { background:url(../images/global/font-awesome.png) -17px 0; }
.icon-star-empty.color-gold { background:url(../images/global/font-awesome.png) -34px 0; }
.icon-star.color-blue { background:url(../images/global/font-awesome.png) -51px 0; }
a .icon-star { background:url(../images/global/font-awesome.png) -68px 0; }

/* Row 2 */
.icon-star.color-gold { background:url(../images/global/font-awesome.png) 0 -17px; }
.icon-print { background:url(../images/global/font-awesome.png) -17px -17px; }
.icon-edit { background:url(../images/global/font-awesome.png) -34px -17px; }
.icon-plus { background:url(../images/global/font-awesome.png) -51px -17px; }
.icon-reply { background:url(../images/global/font-awesome.png) -68px -17px; }

/* Row 3 */
a .icon-file-alt { background:url(../images/global/font-awesome.png) 0 -34px; }
.icon-file { background:url(../images/global/font-awesome.png) -17px -34px; }
a .icon-question-sign { background:url(../images/global/font-awesome.png) -33px -34px; }
a .icon-user { background:url(../images/global/font-awesome.png) -51px -34px; }
.icon-envelope { background:url(../images/global/font-awesome.png) -68px -34px; }

/* Row 4 */
a .icon-envelope { background:url(../images/global/font-awesome.png) 0 -51px; }
.icon-lock { background:url(../images/global/font-awesome.png) -17px -51px; }
a .icon-lock { background:url(../images/global/font-awesome.png) -34px -51px; }
.delete.icon-remove { background:url(../images/global/font-awesome.png) -51px -51px; }
a .icon-medkit { background:url(../images/global/font-awesome.png) -68px -51px; }

/* Row 5 */
.icon-search { background:url(../images/global/font-awesome.png) 0 -68px; }
