@charset "UTF-8";
/* CSS Document */

.button { position: relative; }

.ui-datepicker-prev, .ui-datepicker-next {
  position: relative;
}

/* IE 8 Fix for left buttons: use when text doesn't display */
.ie8-left { float: left; }
p .button.ie8-left { padding: 0 10px; margin-bottom: 10px; }

/* Font Awesome Substitute */
.icon-star:before, .icon-star-empty:before, icon-print:before, .icon-edit:before,
.icon-envelope:before, .icon-file:before, .icon-file-alt:before, .icon-print:before,
.icon-user:before, .icon-question-sign:before, .icon-medkit:before, .icon-lock:before,
.icon-remove:before, .icon-plus:before, .icon-reply:before, .icon-search:before
 { content: ""; display: none; } /* Remove content */
 
.icon-asterisk:before { content: "*"; font-family: serif; font-size: 20px; font-weight: bold; }

[class^="icon-"] { width: 16px; height: 16px; display: inline-block; } /* Create area for new content */

/* Row 1 */
.icon-star-empty { background:url(../images/global/font-awesome.png) 0 0; }
.icon-star-empty.color-blue { background:url(../images/global/font-awesome.png) -17px 0; }
.icon-star-empty.color-gold { background:url(../images/global/font-awesome.png) -34px 0; }
.icon-star.color-blue { background:url(../images/global/font-awesome.png) -51px 0; }
a .icon-star { background:url(../images/global/font-awesome.png) -68px 0; }

/* Row 2 */
.icon-star.color-gold { background:url(../images/global/font-awesome.png) 0 -17px; }
.icon-print { background:url(../images/global/font-awesome.png) -17px -17px; }
.icon-edit { background:url(../images/global/font-awesome.png) -34px -17px; }
.icon-plus { background:url(../images/global/font-awesome.png) -51px -17px; }
.icon-reply { background:url(../images/global/font-awesome.png) -68px -17px; }

/* Row 3 */
a .icon-file-alt { background:url(../images/global/font-awesome.png) 0 -34px; }
.icon-file { background:url(../images/global/font-awesome.png) -17px -34px; }
a .icon-question-sign { background:url(../images/global/font-awesome.png) -33px -34px; }
a .icon-user { background:url(../images/global/font-awesome.png) -51px -34px; }
.icon-envelope { background:url(../images/global/font-awesome.png) -68px -34px; }

/* Row 4 */
a .icon-envelope { background:url(../images/global/font-awesome.png) 0 -51px; }
.icon-lock { background:url(../images/global/font-awesome.png) -17px -51px; }
a .icon-lock { background:url(../images/global/font-awesome.png) -34px -51px; }
.icon-remove { background:url(../images/global/font-awesome.png) -51px -51px; }
a .icon-medkit { background:url(../images/global/font-awesome.png) -68px -51px; }

/* Row 5 */
.icon-search { background:url(../images/global/font-awesome.png) 0 -68px; }
