/*	IE 9 specific fixes
	1/30/13 srw - created.
*/


/*	Returns the HR to its correct state. We had to bypass this in our ie_frame.css file
	so that the HR shows up in IE8. */
hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Removed this from the base file because IE 7/8 were having issues. */
.ui-datepicker-header {
	filter: dropshadow(color=#000, offx=1, offy=-1);
}

.ie8-left { float: none; } /* CSS3 Pie reset from IE8 */