@charset "UTF-8";
/* CSS Document */

hr { /* Fix if IE 8 */
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #EFEFEF;
}

#iframeContainer ul li { line-height: 18px; }


/* CSS PIE IMPLIMENTATION */
	#iframeContainer header,
	#iframeContainer table.tableStyled.survey tr th,
	#iframeContainer table.tableStyled tr th,
	#iframeContainer table.tableStyled tr td,
	#iframeContainer table.tableStyled tr th:hover,
	#iframeContent div.select-compare,
	#iframeContent input[type="text"],
	#iframeContent textarea,
	#header .button,
	.button.clearfix,
	.alert-box,
	.button,
	.button:hover,
	.button.grey, 
	.button.grey:hover,
	.graph,
	.graph .bar,  
	.ui-datepicker-header,
	.ui-tabs .ui-tabs-nav li.ui-state-default:hover, 
	.ui-tabs .ui-tabs-nav li.ui-state-default,
	.ui-tabs .ui-tabs-nav li.ui-tabs-active,
	.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover,
	a.button:hover {
		behavior: url(content/pie/PIE.htc); 
		position: relative;
		z-index: 0; }
	
	/*	CSS3 Pie Gradients 
		***********************************/
		#iframeContainer header, #iframeContainer table.tableStyled tr th,
		#iframeContainer table.tableStyled tr th:hover { -pie-background: linear-gradient(#0ea0dc, #3db3e3); }
		#iframeContainer table.tableStyled.survey tr th  { -pie-background: linear-gradient(#eaeaec, #FFF); }
		#iframeContent div.select-compare {	-pie-background: linear-gradient(#0ea0dc, #3db3e3); }
		.ui-datepicker-header { -pie-background: linear-gradient(#0ea0dc, #3db3e3); }
		.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active, 
		.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active:hover { -pie-background: linear-gradient(#0ea0dc, #3db3e3); }
		.ui-tabs .ui-tabs-nav li.ui-state-default:hover { -pie-background: linear-gradient(#eaeaec, #ffffff); }
		.ui-tabs .ui-tabs-nav li.ui-state-default { -pie-background: linear-gradient(#ffffff, #eaeaec); }
		.button, #header .button { -pie-background: linear-gradient(#b0e54e, #69c52c); }
		.button.grey { -pie-background: linear-gradient(#e7e3e3, #c2c1c1); }
		.button.grey:hover { -pie-background: linear-gradient(#c2c1c1, #e7e3e3); }
		a.button:hover, .button:hover { -pie-background: linear-gradient(#69c52c, #b0e54e); }
	
	/* CSS Pie IE 7/8 position & z-index fix for parent elements */
	#iframeContainer table.tableStyled, 
	#iframeContainer table.tableStyled tr,
	.csspie-fix, .columnHalf,
	.half, .half p { 
		position: relative;
		z-index: 0;
	}
	
#iframeContainer header h1 { margin-top: 15px; }

#iframeContainer .menu ul { margin-left: 0px; }
#iframeContainer .menu ul li { margin-left: 15px; padding-left: 0px; }

.button { position: relative; } /* CSS Pie fix */

#iframeContainer table.tableStyled tr th,
#iframeContainer table.tableStyled tr th a {
	font-size: 12px;
	line-height: 12px;
}
#iframeContainer table.tableStyled.style2 tr th,
#iframeContainer table.tableStyled.style3 tr th,
#iframeContainer table.tableStyled.style4 tr th { /* Alternate to the above style */
	font-size: 16px;
	letter-spacing: 0;
	line-height: 35px; /* Fixes the th height issue */
	font-weight: normal;
	height: 35px;
}
#iframeContainer table.tableStyled.style3 tr th  { font-size: 15px; }
#iframeContainer table.tableStyled.style4 tr th,
#iframeContainer table.tableStyled.style4 tr th a {
	font-size: 11px;
	line-height: 12px;
}

table.eligibility {	width: 375px; }

#iframeContainer h2 {
	font-size: 22px;
	line-height: 28px;
	font-weight: 700;
}

#iframeContainer ul li { line-height: 18px; }
#iframeContainer table.hospital ul.unstyled,
#iframeContainer table.hospital ul.unstyled li {
	margin: 0;}

/* TABS */
#iframeContainer ul.ui-tabs-nav li.first { margin-left: 10px; }
#iframeContainer ul.ui-tabs-nav li:before, #iframeContainer .jqTransformSelectWrapper ul li:before { content: ""; }
.ui-tabs .ui-tabs-nav li a { padding: 6px 8px 6px 16px; }
#iframeContainer ul.ui-tabs-nav { height: 33px; }
.ui-tabs .ui-tabs-nav li.ui-state-default  { font-size: 12px; background: url(../images/global/tab-default.png) repeat-x; }
.ui-tabs .ui-tabs-nav li.ui-state-default:hover  {	background: url(../images/global/tab-default-hover.png) repeat-x; }
.ui-tabs .ui-tabs-nav li.ui-state-active,
.ui-tabs .ui-tabs-nav li.ui-state-active:hover  {	background: url(../images/global/tab-active.png) repeat-x; }

#iframeContainer .jqTransformSelectWrapper ul li {
	padding-left: 0;
	text-indent: 0;
	line-height: 12px;
}

#iframeContainer .jqTransformSelectWrapper { display: none; }

#iframeContainer .jqTransformSelectWrapper ul li:before {
	content: none;
}
#iframeContainer .jqTransformSelectWrapper ul {
	position: absolute;
	width: 43px;
	top: 26px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}